/**
 * General Dialog
 */

#countryBuyDialog {
    width: 100%;
    max-width: 600px;
    margin: 40px 0;
    text-align: center;
    font-family: 'Raleway', 'Open Sans', Helvetica, Arial, sans-serif;
}

.sm-dialog {
    position: relative;
    display: block;
    background: #fff;
    padding: 35px 30px;
    font-size: 1em;
    text-align: center;
    transform: scale(0.8);
    transition: all 0.3s;
}

.popup_visible .sm-dialog {
    transform: scale(1);
}

.sm-dialog {
    &, * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .closer {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 1.2em;
        color: #000;
        opacity: .2;
        &:hover {
            opacity: .7;
        }
    }

    #stage {
        transition: height 0.3s;
    }

    a {
        transition: all 0.2s;
    }

    .step {
        display: none;
    }

    h2 {
        margin-bottom: 30px;
        letter-spacing: 1px;
        text-transform: none;
        font-weight: normal;
    }

    .divider {
        width: 40px;
        height: 2px;
        margin: 0 auto;
        margin-bottom: 25px;
        background: #8fd8f9;
    }

    .content {
        width: 100%;
        margin: 0 auto;

        p {
            margin-bottom: 1.5em;
        }
    }

    .eu-country-list {
        list-style: none;
        padding: 0;
        margin: 0 0 10px 0;

        li {
            display: inline-block;
            width: 100%;
            padding-bottom: .3em;
            overflow: hidden;
        }

        a {
            padding-bottom: .5em;
            color: #000;
            opacity: .5;
            border-bottom: 2px solid transparent;
            &:hover {
                opacity: 1;
                padding-bottom: .2em;
                border-color: rgba(0, 0, 0, 0.15);
            }
        }
    }

    .back-nav {
        a {
            &.btn-back {
                font-size: .9em;
                color: #000;
                opacity: .2;

                &:hover {
                    opacity: .8;
                }
            }

            &.btn {
                margin-top: 1em;
            }
        }
    }

    .show-after-signup {
        display: none;
    }

    .btn {
        display: inline-block;
        padding: 0.4em 2em;
        color: #000;
        border-radius: 6px;
        border: 2px solid #000;
        background: transparent;
        transition: all 0.2s;
        opacity: .75;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    .btn-block {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .btn-submit {
        border-color: #45bef5;
        background: #45bef5;
        color: #fff;
    }
}

@media screen and (min-width: 767px) {
    #countryBuyDialog {
        margin: 160px 0;
    }

    .sm-dialog {
        padding: 35px;
        font-size: 1.1em;
        .content {
            width: 90%;
        }
    }
}

/**
 * Country List
 */

@media screen and (min-width: 767px) {
    .sm-dialog .eu-country-list li {
        width: 33%;
    }
}

/**
 * Back Navigation
 */

/**
 * Buttons
 */

@media screen and (min-width: 767px) {
    .sm-dialog {
        .btn {
            opacity: .55;
        }

        .btn-submit {
            background: transparent;
            color: #45bef5;
            opacity: .7;
        }
    }
}

/**
 * Customisations for specific Steps
 */
/** Welcome **/

#stage {
    &.step-welcome {
        .content {
            width: 90%;
        }

        .btn {
            max-width: 240px;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 20px;
            }
        }

        .divider {
            margin-bottom: 33px;
        }
    }

    &.step-outside-eu .choices {
        margin-bottom: 1.5em;

        .btn {
            width: 100%;
            margin: 0 0 1em 0;
        }
    }
}

/** Outside EU **/

@media screen and (min-width: 767px) {
    #stage {
        &.step-welcome .content {
            width: 60%;
        }

        &.step-outside-eu .choices .btn {
            width: 42%;
            margin: 0 3%;
        }
    }
}

/**
 * Email Sign-up Widget
 */

.sm-dialog .email-signup-widget {
    margin-bottom: .5em;

    label {
        display: block;
        padding-bottom: .6em;

        &:empty {
            display: none;
        }

        &.valid {
            color: #3DBB0C;
        }

        &.error {
            color: orangered;
        }
    }

    input {
        display: inline-block;
        font-family: inherit;
        font-size: .95em;
        padding: 0.65em 1em;
        margin: 1%;

        &.email {
            width: 100%;
            margin-bottom: .8em;
            color: #000;
            border-radius: 6px;
            border: 2px solid rgba(0, 0, 0, 0.45);
            background: transparent;
            transition: all 0.2s;

            &.error {
                border-color: orangered;

                &:focus {
                    border-color: orangered;
                }
            }

            &:focus {
                border-color: #000;
            }
        }

        &.btn {
            width: 100%;
            margin-bottom: 1em;
        }

        &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
            opacity: .6;
        }
    }
}

@media screen and (min-width: 767px) {
    .sm-dialog .email-signup-widget input {
        &.email {
            width: 65%;
            margin-bottom: 0;
        }

        &.btn {
            width: 25%;
        }
    }
}