<div class="sm-dialog">
    <a href="#" class="closer btn-close">x</a>

    <div id="stage"></div>

    <div class="step step-welcome" data-step="welcome">
        <h2>Where do you live?</h2>

        <div class="divider"></div>

        <div class="content">
            <a href="#" class="btn btn-block" data-step-to="within-eu">Europe</a>
            <a href="#" class="btn btn-block" data-step-to="outside-eu">Outside Europe</a>
        </div>
    </div>

    <!-- Within Europe -->
    <div class="step" data-step="within-eu">
        <h2>Select your country</h2>

        <div class="divider"></div>

        <div class="content">
            <ul class="eu-country-list"></ul>

            <div class="back-nav">
                <a href="#" class="btn-back" data-step-to="outside-eu">I live outside of Europe</a>
            </div>
        </div>
    </div>

    <!-- Outside Europe -->
    <div class="step" data-step="outside-eu">
        <h2>International Availability</h2>

        <div class="divider"></div>

        <div class="content">
            <p>
                Air Smart Spirometer is approved in the European Union and is a CE-certified medical class IIa
                device. It can only be used for educational purpose outside EU.
            </p>

            <p>
                Please confirm your educational use of the Air Smart Spirometer:
            </p>

            <div class="choices">
                <a href="#" class="btn btn-decline" data-step-to="purchase-unavailable">Decline</a>
                <a href="#" class="btn btn-confirm" data-step-to="link-to-shop" data-step-data="confirm-educational">Confirm</a>
            </div>

            <div class="back-nav">
                <a href="#" class="btn-back" data-step-to="within-eu">I live within Europe</a>
            </div>
        </div>
    </div>

    <!-- Selected EU Country is Unavailable -->
    <div class="step" data-step="eu-country-unavailable">
        <h2>Unavailable in {{COUNTRY}}</h2>

        <div class="divider"></div>

        <div class="content">
            <p>
                The Smart Spirometry is currently classified within European standards for a select list of countries.
            </p>

            <p>
                Please provide us with your email address and we’ll reach out to you once the Smart Spirometer is
                available in
                {{COUNTRY}}.
            </p>

            <div class="email-signup-widget clearfix">
                <form name="email-signup" autocomplete="off">
                    <label for="mc-email"></label>
                    <input type="hidden" name="COUNTRY" value="{{COUNTRY}}"/>
                    <input type="email" id="mc-email" name="email" class="email" placeholder="Your email address"/>
                    <input type="submit" class="btn btn-submit" value="Sign up"/>
                </form>
            </div>

            <div class="back-nav">
                <a href="#" class="btn show-after-signup" data-step-to="link-to-homepage">Learn more about Air</a>
                <a href="#" class="btn-back hide-after-signup" data-step-to="within-eu">Back to country selection</a>
            </div>
        </div>
    </div>

    <!-- Outside of EU with No Educational Purpose -->
    <div class="step" data-step="purchase-unavailable">
        <h2>Let us keep you updated</h2>

        <div class="divider"></div>

        <div class="content">
            <p>
                We are working hard to make the Smart Spirometer available to a larger selection of countries. Please
                provide us with your email address and we’ll reach out to you once it’s available in your country.
            </p>

            <div class="email-signup-widget clearfix">
                <form name="email-signup" autocomplete="off">
                    <label for="mc-email"></label>
                    <input type="hidden" name="COUNTRY" value="Outside Europe"/>
                    <input type="email" id="mc-email" name="email" class="email" placeholder="Your email address"/>
                    <input type="submit" class="btn btn-submit" value="Sign up"/>
                </form>
            </div>
        </div>

        <div class="back-nav show-after-signup">
            <a href="#" class="btn" data-step-to="link-to-homepage">Learn more about Air</a>
        </div>
    </div>

    <!-- Redirection -->
    <div class="step" data-step="link-to-shop">
        <p>Redirecting you to the webshop...</p>
    </div>

    <div class="step" data-step="link-to-homepage">
        <p>Redirecting you to the homepage...</p>
    </div>
</div>